<div class="parallax-container">
<div class="parallax"><img src="/images/hatter.jpg"></div>
</div>
<div class="section white">
<div class="row container">
<h2 class="header">Parallax</h2>
<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
<br>
Lorem ipsum dolor sit amet, donec facilisis, nibh metus nullam lacinia commodo sed vestibulum. Varius mauris consequat vehicula posuere. Ipsum adipisicing, et fermentum sem ligula malesuada ullamcorper, odio eget convallis mauris enim egestas, nulla neque at. Eu eleifend luctus nunc, tincidunt vehicula, sit vitae congue cursus dapibus nulla quam. Lacus tellus amet dolor posuere amet, blandit dolor bibendum sed, eleifend felis augue lorem nullam massa, nec dui posuere turpis iaculis mi, ac nec dictumst vivamus.
Fringilla aliquam, molestie id in, sociis maecenas id. Tellus praesent sit. Purus in integer fringilla nec, commodo sit nulla interdum, massa dignissim in pellentesque dis eu dui, suspendisse nonummy nec nulla et sem magnis. Integer ante arcu condimentum platea viverra nam, commodo suscipit sapien nulla metus tempor. Sollicitudin ullamcorper phasellus nisl varius, eros sed ac laoreet et lorem dignissim. Ultrices eget dui. Erat pellentesque est tortor in, ullamcorper eleifend eget maecenas dui feugiat vel, vitae orci. Integer metus orci ac, id class lobortis ut, qui lacinia, feugiat purus aliquam placerat sollicitudin nulla. Sodales a dignissim, lorem in quis vivamus aliquam wisi, mus praesent non morbi a, arcu vel sapien natoque amet. Aptent mauris pulvinar suscipit, aliquam volutpat in dictum est orci, semper donec mattis elit in, ipsum pulvinar quam velit sed sem orci, mauris id vel sapien duis. Maecenas lorem justo pretium. Fusce aliquam ac a, vivamus fermentum ullamcorper at id commodo, wisi auctor dolor molestie, sed aliquam eleifend sit, semper odio.
</p>
</div>
</div>
<div class="parallax-container">
<div class="parallax"><img src="/images/hatter.jpg"></div>
</div>