<div class="parallax-container element">
  <div class="parallax"><img src="/images/min1.jpg"></div>
</div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block" >
            <h2 class="center brown-text wow fadeInLeft" data-wow-duration="0.5s"><i class="material-icons large">fast_forward</i></h2>
            <h5 class="center">Gyors weboldalt szeretnél?</h5>
            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow fadeInDown" data-wow-delay="0.5s" data-wow-duration="0.5s"><i class="material-icons large">phonelink_setup</i></h2>
            <h5 class="center"> Mobilos felületre vágysz?</h5>
            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow fadeInRight" data-wow-delay="1s" data-wow-duration="0.5s"><i class="material-icons large">web</i></h2>
            <h5 class="center">Frissítenéd a kinézetét?</h5>
            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>
        </div>
      </div>
</div>

<div class="parallax-container">
  <div class="container szoveg">
    <h5  class="parallax-fontshadow wow fadeIn" data-wow-duration="2s">
      Nálunk ezeket mind megtalálod!<br>
      Váltd valóra álmaid weblapját velünk.<br>
      Naprakészek vagyunk a legmodernebb,<br>leggyorsabb és legmegbízhatóbb technologiákban.<br>
      Csakis precíz és megbízható munkát végzünk.<br>
      Velünk biztos a sikered!
    </h5>
  </div>
  <div class="parallax"><img src="/images/nulladik.jpg"></div>
</div>

<div id="szolgaltatas" class="container jumptarget">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow rotateInUpLeft" data-wow-duration="0.5s"><i class="fa fa-cogs large" aria-hidden="true"></i></h2>
            <h5 class="center">Weboldal készítés</h5>

            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow rotateIn" data-wow-delay="0.5s" data-wow-duration="0.5s"><i class="fa fa-wrench large" aria-hidden="true"></i></h2>
            <h5 class="center">Weboldal átalakítás</h5>

            <p class="light just">Meguntad weblapod régi és elavult külsejét? Eleged van, hogy lassú és tele van hibákkal? Vagy csak kiegészítenéd valamivel de nem tudod, hogy hogyan? Akkor válassz minket! Amiket nyújthatunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Meglévő weboldal teljes/részbeli átformázása<br><i class="fa fa-caret-right" aria-hidden="true"></i>Weboldal bővítése<br><i class="fa fa-caret-right" aria-hidden="true"></i>Hibák kijavítása</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow rotateInUpRight" data-wow-delay="1s" data-wow-duration="0.5s"><i class="fa fa-picture-o large" aria-hidden="true"></i></h2>
            <h5 class="center">Arculattervezés</h5>

            <p class="light just">Ha új arculatot szeretnél kialakítani, esetleg már meglévőt átalakítani, vagy csak 1 logóra van szükséged, mi segítünk neked! Cégünk az alábbiakkal foglalkozik:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Vállalat arculattervezés<br> <i class="fa fa-caret-right" aria-hidden="true"></i>Termék arculattervezés<br> <i class="fa fa-caret-right" aria-hidden="true"></i>Projekt arculattervezés</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container">
  <div class="parallax"><img src="/images/elso.jpg"></div>
</div>

<div id="referencia" class="container jumptarget">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="center black-text">Referenciáink:</h5>
      </div>
        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

      </div>

      <div class="row">
        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

      </div>

      <div class="row">
        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

        <div class="col l2 s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">business</i></h2>
            <p class="center">Referencia KFT</p>         
        </div>
        </div>

      </div>

    </div>
  </div>

<div class="parallax-container">
  <div class="container szoveg"><h5  class="parallax-fontshadow wow fadeIn" data-wow-duration="2s">Váltsd valóra álmaid weblapját velünk!
    <br>Naprakészek vagyunk a legmodernebb, leggyorsabb és legszebb oldalakkal.
    <br>Csakis precíz és megbízható munkát végzünk.</h5></div>
<div class="parallax"><img src="/images/masodik.jpg"></div>
<div class="parallax glass"><img src="/images/uveg.jpg"></div>    
  </div>

<div id="ajanlatkeres" class="container jumptarget">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow rotateInDownLeft" data-wow-duration="0.5s"><i class="material-icons large">fast_forward</i></h2>
            <h5 class="center">Gyors weboldalt szeretnél?</h5>
            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow rotateIn" data-wow-delay="0.5s" data-wow-duration="0.5s"><i class="material-icons large">phonelink_setup</i></h2>
            <h5 class="center"> Mobilos felületre vágysz?</h5>
            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text wow rotateInDownRight" data-wow-delay="1s" data-wow-duration="0.5s"><i class="material-icons large">web</i></h2>
            <h5 class="center">Frissítenéd a kinézetét?</h5>
            <p class="light just">Weboldalra van szükséged a legújabb projektedhez? Olyanra ami nem évekig tölt és még a mobilodról is teljesen áttekinthető? Akkor ne keresgélj tovább, mi vagyunk akiket keresel! Amiket garantálunk neked:
            <br><br><i class="fa fa-caret-right" aria-hidden="true"></i>Gyors weboldal<br><i class="fa fa-caret-right" aria-hidden="true"></i>Mobilos/tabletes kompatibilitás egyaránt<br><i class="fa fa-caret-right" aria-hidden="true"></i>Rövid elkészítési idő</p>
          </div>
        </div>
        

<div class="col s12 m4 l4">
          <p class="light just">
            
valami lesz majd itt.
          </p>
        </div>

        <div class="col s12 m4 l4">
          <p class="light just">
            
valami lesz majd itt.
          </p>
        </div>

        <div class="col s12 m4 l4">
          <p class="light just">
            
valami lesz majd itt.
          </p>
        </div>

      </div>

    </div>
  </div>

<div class="parallax-container">
  <div class="parallax"><img src="/images/harmadik.jpg"></div>
</div>