/* mixin for bullet proof font declaration syntax */
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}
@include declare-font-face('Changa-Regular', 'Changa-Regular', 200);
@include declare-font-face('Changa-SemiBold', 'Changa-SemiBold', 200);
@include declare-font-face('AlfaSlabOne-Regular', 'AlfaSlabOne-Regular', 200);
$big-parallax-font: AlfaSlabOne-Regular;
$big-default-font: Changa-Regular;
body{
}
.turbolinks-progress-bar {
  height: 10px;
  background-color: #007d72;
}
body {
  }
h1,h2,h3,h4,h5 {
	font-family: $big-parallax-font;
}
p{
	font-family: $big-default-font;
}

/*CONTENT*/
#ajanlatkeres{
	
}
.element {
	height: 100vh;
}
.glass{
	opacity:0.3;
}
.szoveg{
	font-family:$big-parallax-font;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	min-height:500px;
	color:rgba(255,255,255,1);
	text-align: center;
}
.parallax-fontshadow{
	line-height: 1.6em;
    color: rgba(255,255,255,0.9);
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

/*NAVBAR*/
nav{
	font-family: $big-default-font;
}

/*FOOTER*/
footer.page-footer{
	margin:0;
}

#nevjegykartya{

	p{
		font-size: 1.2em;
	}
}
.avatar{
}

@media screen and (max-width: 600px) {
	.avatar{
		max-width: 125px;
		max-height: 125px;
	}
}
@media screen and (max-width: 480px) {
	.avatar{
		max-width: 100px;
		max-height: 100px;
	}
}
@media screen and (max-width: 320px) {
	.avatar{
		max-width: 75px;
		max-height: 75px;
	}
}

.kapcs {
	padding-top: 0.5em;
}

.kopi {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	.container .row .col{
		padding-top:0.5em;
	}
}

