<div class="container jumptarget" id="team">
  <div class="row">

    <div class="col l9 s12">
      <div class="row" id="nevjegykartyak">
      <h5 class="white-text">A csapat</h5>
        <div class="col l4 s4 center wow fadeInLeft wHighlight" id="nevjegykartya1" data-wow-duration="0.5s">
          <img src="/images/yuna.jpg" alt="balazs.jpg" class="circle avatar image-test responsive-img">
          <p class="grey-text text-lighten-4 nev">
          Marton Balázs<br>
          Founder<br>
          FullStack Developer<br>
          <a class="blue-text text-darken-4" href="#!">@marton balazs</a> 
          </p>
        </div>

        <div class="col l4 s4 center wow fadeInDown wHighlight" id="nevjegykartya2" data-wow-delay="0.5s" data-wow-duration="0.5s">
          <img src="/images/yuna.jpg" alt="andras.png" class="circle avatar responsive-img">
          <p class="grey-text text-lighten-4 nev">
          Deme András<br>
          Co-Founder<br>
          SiteBuilder<br>
          <a class="blue-text text-darken-4" href="#!">@deme andras</a> 
          </p>
        </div>

        <div class="col l4 s4 center wow fadeInRight wHighlight" id="nevjegykartya3" data-wow-delay="1s" data-wow-duration="0.5s">
          <img src="/images/yuna.jpg" alt="greta.jpg" class="circle avatar responsive-img">
          <p class="grey-text text-lighten-4 nev">
          Oszlánczi Gréta<br>
          Designer<br>
          <a class="blue-text text-darken-4" href="#!">@oszlanczi greta</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col l3 s12 wow fadeInRight wHighlight" data-wow-delay="1.5s" >
          <h5 class="white-text">Lépj velünk kapcsolatba!</h5>
          <ul>
            <li class="white-text">1355 BUDAPEST BAJCSY-ZSILINSZKY ÚT 15. II/7</li>
            <li class="white-text">+36 1 345 1932</li>
            <li class="white-text">+36 1 274 2632</li>
            <li class="white-text">
            <a class="blue-text text-darken-4" href="#!">info@builditgroup.hu</a>
            </li>
          </ul>
    </div>

  </div>
</div>


<div class="row kopi teal darken-1 jumptarget" id="kapcsolat">
  <div class="container">
    <div class="row white-text">

        <div class="col s12 l3"><a class="white-text" href="http://builditgroup.herokuapp.com">Adatvédelmi Szabályzat</a></div>
        <div class="col s12 l3"><a class="white-text" href="http://builditgroup.herokuapp.com">Felhasználási Feltételek</a></div>
        <div class="col s12 l4">Kövess minket: 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/twitter">
        <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/facebook">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/google-plus">
        <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a> 
        
        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/tumblr">
        <i class="fa fa-tumblr-square fa-lg" aria-hidden="true"></i></a>

        </div>
        
        <div class="col s12 l2">© 2016 BUILDITGROUP.COM</div>

    </div>
  </div>
</div>