<div class="container jumptarget" id="team">
  <div class="row">

    <div class="col l8 s12">
      <div class="row" id="nevjegykartyak">
      <h5 class="white-text center">A csapat</h5>
        <div class="col l4 s12 m4 center" id="nevjegykartya1">
          <img src="/images/yuna.jpg" alt="balazs.jpg" class="circle avatar image-test responsive-img wow slideInLeft">
          <p class="grey-text text-lighten-4 nev">
          Marton Balázs<br>
          Founder<br>
          FullStack Developer<br>
          <a class="blue-text text-darken-4" href="#!">@marton balazs</a> 
          </p>
        </div>

        <div class="col l4 s12 m4 center" id="nevjegykartya2">
          <img src="/images/yuna.jpg" alt="andras.png" class="circle avatar responsive-img wow slideInUp">
          <p class="grey-text text-lighten-4 nev">
          Deme András<br>
          Co-Founder<br>
          SiteBuilder<br>
          <a class="blue-text text-darken-4" href="#!">@deme andras</a> 
          </p>
        </div>

        <div class="col l4 s12 m4 center" id="nevjegykartya3">
          <img src="/images/yuna.jpg" alt="greta.jpg" class="circle avatar responsive-img wow slideInRight">
          <p class="grey-text text-lighten-4 nev">
          Oszlánczi Gréta<br>
          Designer<br>
          <a class="blue-text text-darken-4" href="#!">@oszlanczi greta</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col l4 s12">
          <h5 class="white-text">Lépj velünk kapcsolatba!</h5>
          <ul>
            <li class="white-text"><i class="fa fa-angle-right" aria-hidden="true"></i> 1355 BUDAPEST BAJCSY-ZSILINSZKY ÚT 15. II/7</li>
            <li class="white-text"><i class="fa fa-angle-right" aria-hidden="true"></i> telefon: +36 1 345 1932</li>
            <li class="white-text"><i class="fa fa-angle-right" aria-hidden="true"></i> fax: +36 1 274 2632</li>
            <li class="white-text"><i class="fa fa-angle-right" aria-hidden="true"></i> email: 
            <a class="blue-text text-darken-4" href="#!">info@builditgroup.hu</a>
            </li>
          </ul>
    </div>
<div id="map"></div>
  </div>
</div>


<div class="row kopi teal darken-1 jumptarget" id="kapcsolat">
  <div class="container">
    <div class="row white-text">

        <div class="col s12 m6 l3"><a class="white-text" href="http://builditgroup.herokuapp.com">Adatvédelmi Szabályzat</a></div>
        <div class="col s12 m6 l3"><a class="white-text" href="http://builditgroup.herokuapp.com">Felhasználási Feltételek</a></div>
        <div class="col s12 m6 l3">Kövess minket: 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/twitter">
        <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/facebook">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/google-plus">
        <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/pinterest">
        <i class="fa fa-pinterest-square fa-lg" aria-hidden="true"></i></a>

        <a class="white-text text-lighten-3" href="http://builditgroup.herokuapp.com/tumblr">
        <i class="fa fa-tumblr-square fa-lg" aria-hidden="true"></i></a>

        </div>
        
        <div class="col s12 m6 l3">© 2016 BUILDITGROUP.COM</div>


    </div>
  </div>
</div>