<div class="jumptarget" id="team">
<footer class="page-footer teal" >
<div class="container" >
  <div class="row">

    <div class="col l7 s12">
      <div class="row" id="nevjegykartyak">
      <h5 class="white-text center wow fadeIn wHighlight" data-wow-delay="1.5s"">A csapat</h5>
        <div class="col l4 s4 center wow fadeInLeft wHighlight" id="nevjegykartya1" data-wow-duration="0.5s">
          <img src="/images/andras.png" alt="andras1.png" class="circle avatar image-test responsive-img">
          <p class="grey-text text-lighten-4 nev">
          Deme András1<br>
          Founder<br>
          FullStack Developer<br>
          <a class="blue-text text-darken-4" href="#!">@deme andras1</a> 
          </p>
        </div>

        <div class="col l4 s4 center wow fadeInDown wHighlight" id="nevjegykartya2" data-wow-delay="0.5s" data-wow-duration="0.5s">
          <img src="/images/andras.png" alt="andras2.png" class="circle avatar responsive-img">
          <p class="grey-text text-lighten-4 nev">
          Deme András2<br>
          Co-Founder<br>
          SiteBuilder<br>
          <a class="blue-text text-darken-4" href="#!">@deme andras2</a> 
          </p>
        </div>

        <div class="col l4 s4 center wow fadeInRight wHighlight" id="nevjegykartya3" data-wow-delay="1s" data-wow-duration="0.5s">
          <img src="/images/andras.png" alt="andras3.png" class="circle avatar responsive-img">
          <p class="grey-text text-lighten-4 nev">
          Deme András3<br>
          Designer<br>
          <a class="blue-text text-darken-4" href="#!">@deme andras3</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col l1 s12"></div>

    <div class="col l4 s12 wow fadeInRight wHighlight" data-wow-delay="1.2s" >
          <h5 class="white-text">Kapcsolat</h5>
          <ul>
            <li class="white-text"><i class="black-text fa fa-location-arrow fa-lg" aria-hidden="true"></i> 12345 BBUDAPPEST BAJCSY-ZSILINSZKY ÚT 11. III/5</li>
            <li class="white-text"><i class="black-text fa fa-phone fa-lg" aria-hidden="true"></i> +36 1 345 19323</li>
            <li class="white-text"><i class="black-text fa fa-fax" aria-hidden="true"></i> +36 1 274 26323</li>
            <li class="white-text">
            <a class="blue-text text-darken-4" href="#!"><i class="black-text fa fa-envelope" aria-hidden="true"></i> info@builditgroup.hu</a>
            </li>
          </ul>
    </div>

  </div>
</div>


<div class="row kopi teal darken-1 jumptarget" id="kapcsolat">
  <div class="container">
    <div class="row white-text">

        <div class="col s12 l3"><a class="white-text" href="http://cv-buildit.herokuapp.com">Adatvédelmi Szabályzat</a></div>
        <div class="col s12 l3"><a class="white-text" href="http://cv-buildit.herokuapp.com">Felhasználási Feltételek</a></div>
        <div class="col s12 l3">Kövess minket: 

        <a class="white-text text-lighten-3" href="http://cv-buildit.herokuapp.com/twitter">
        <i class="fa fa-twitter-square fa-lg float" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://cv-buildit.herokuapp.com/facebook">
        <i class="fa fa-facebook-square fa-lg float" aria-hidden="true"></i></a> 

        <a class="white-text text-lighten-3" href="http://cv-buildit.herokuapp.com/google-plus">
        <i class="fa fa-google-plus-square fa-lg float" aria-hidden="true"></i></a> 
        
        <a class="white-text text-lighten-3" href="http://cv-buildit.herokuapp.com/tumblr">
        <i class="fa fa-tumblr-square fa-lg float" aria-hidden="true"></i></a>

        </div>
        
        <div class="col s12 l3">© 2016 BUILDITGROUP.COM</div>

    </div>
  </div>
</div>
</footer>
</div>