<div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5 class="white-text">A csapat</h5>
          <p class="grey-text text-lighten-4">
        <img src="images/balazs.jpg" alt="balazs.jpg" class="circle nevjegy">
          <span class="nev">Marton Balázs</span> &nbspWeblap szerkesztő/Alapító &nbsp
          <a class="blue-text text-darken-4" href="#!">@marton_balazs</a> <br>

          <img src="images/andras.png" alt="andras.png" class="circle nevjegy">
          <span class="nev">Deme András</span> &nbspWeblap szerkesztő/Alapító &nbsp
          <a class="blue-text text-darken-4" href="#!">@deme_andras</a> <br>

          <img src="images/greta.jpg" alt="greta.jpg" class="circle nevjegy">
          <span class="nev">Oszlánczi Gréta</span> &nbspDesigner &nbsp
          <a class="blue-text text-darken-4" href="#!">@oszlanczi_greta</a>
          </p>
</div>

       <div class="col l1 s12"></div>

        <div class="col l4 s12">
          <h5 class="white-text">Lépj velünk kapcsolatba!</h5>
          <ul>
          <li class="white-text kapcs">1355 BUDAPEST BAJCSY-ZSILINSZKY ÚT 15. II/7</li>
          <li class="white-text kapcs">t: +36 1 345 1932</li>
          <li class="white-text kapcs">f: +36 1 274 2632</li>
          <li class="white-text kapcs">e: 
          <a class="blue-text text-darken-4" href="#!">info@builditgroup.hu</a></li>
          </ul>
        </div>
      </div>
    </div>


       <div class="row kopi teal darken-1">
      <div class="container">
      <div class="row black-text">
        <div class="col s12 l2 vastag"><a class="black-text" href="http://builditgroup.herokuapp.com">Adatvédelmi Szabályzat</a></div>
        <div class="col s12 l2 vastag"><a class="black-text" href="http://builditgroup.herokuapp.com">Felhasználási Feltételek</a></div>
        <div class="col s12 l3 vastag">Kövess minket: 

        <a class="black-text text-lighten-3" href="http://builditgroup.herokuapp.com/twitter">
        <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a> 

        <a class="black-text text-lighten-3" href="http://builditgroup.herokuapp.com/facebook">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a> 

        <a class="black-text text-lighten-3" href="http://builditgroup.herokuapp.com/google-plus">
        <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a> 

        <a class="black-text text-lighten-3" href="http://builditgroup.herokuapp.com/pinterest">
        <i class="fa fa-pinterest-square fa-lg" aria-hidden="true"></i></a>

        <a class="black-text text-lighten-3" href="http://builditgroup.herokuapp.com/tumblr">
        <i class="fa fa-tumblr-square fa-lg" aria-hidden="true"></i></a>

        </div>
        
        <div class="col s12 l5 t-r">© 2016 BUILDITGROUP.COM &nbspMINDEN JOG FENNTARTVA</div>
         
        
       </div>
      </div>
</div>
